# clang LSP
.cache/
compile_commands.json

# vim swap files
.*.swp
.*.swo

# VisualStudio
*.vcxproj.user

# VS command line plugin config
*.args.json

# Open office docs
~$*.pptx
~$*.xlsx

# Tags
.tags
.tags.lock
.tags.temp

# Claude
.claude/settings.local.json
