[alias]
    br = branch -v -a
    co = checkout
    ft = remote -v update -p
    lg = log --full-history --pretty=\"format:%C(yellow)%h%Cgreen%d%Creset %s\" -n 15
    lgg = log --graph --branches --remotes --full-history --pretty=\"format:%C(yellow)%h%Cgreen%d%Creset %s (%an, %cd)\" -n 22
    st = status --short --branch --ignored
    fix = commit --amend --no-edit
[core]
    editor = \"c:\\Program Files\\NeoVim\\bin\\nvim.exe\"
    pager = 
    excludesFile = ~/.gitignore
[diff]
    #tool = diffmerge
    #tool = gvimdiff
    tool = winmergeu
    #tool = bc4
[difftool]
    prompt = false
[difftool "diffmerge"]
    cmd = \"c:\\program files\\sourcegear\\common\\diffmerge\\sgdm.exe\" --nosplash \"$LOCAL\" \"$REMOTE\"
[difftool "gvimdiff"]
    cmd = \"c:\\program files (x86)\\Vim\\vim90\\gvim.exe\" -f -d -c \"simalt ~x\" -c \"cd $GIT_PREFIX\" \"$LOCAL\" \"$REMOTE\"
[difftool "winmergeu"]
    cmd = \"c:\\program files\\winmerge\\winmergeu.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool "bc4"]
    cmd = \"c:\\program files\\Beyond Compare 4\\BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
    #tool = diffmerge
    #tool = gvimdiff
    #tool = gvimmerge
    #tool = p4merge
    #tool = winmergeu
    tool = bc4
[mergetool]
    keepBackup = false          # Don't generate .orig files
    keepTemporaries = false     # Delete temporaries after tool exits
    writeToTemp = true          # Writes temporaries to a temporary directory
    prompt = false              # Don't prompt before each merge resolution
# LOCAL = current branch version
# REMOTE = version to be merged
# BASE = common ancestor
# MERGED = file where results will be written
[mergetool "diffmerge"]
    cmd = \"c:\\program files\\sourcegear\\common\\diffmerge\\sgdm.exe\" --nosplash --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
    trustExitCode = true
[mergetool "gvimmerge"]
    cmd = \"c:\\program files (x86)\\Vim\\vim90\\gvim.exe\" -f -d -c \"simalt ~x | 4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = true
[mergetool "p4merge"]
    cmd = p4merge.exe \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
    trustExitCode = false
[mergetool "winmergeu"]
    cmd = \"c:\\program files\\winmerge\\winmergeu.exe\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
    trustExitCode = false
[mergetool "bc4"]
    cmd = \"c:\\program files\\Beyond Compare 4\\BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true
[user]
    name = todo
    email = todo@todo.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
