[submodule ".vim/pack/plugins/start/vim-solarized8"]
	path = .vim/pack/plugins/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/pack/plugins/start/vim-argwrap"]
	path = .vim/pack/plugins/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule ".vim/pack/plugins/start/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule ".vim/pack/plugins/start/vim-msbuild"]
	path = .vim/pack/plugins/start/vim-msbuild
	url = https://github.com/heaths/vim-msbuild
[submodule ".vim/pack/plugins/start/vim-opencl"]
	path = .vim/pack/plugins/start/vim-opencl
	url = https://github.com/petRUShka/vim-opencl
[submodule ".vim/pack/plugins/start/vim-spirv"]
	path = .vim/pack/plugins/start/vim-spirv
	url = https://github.com/kbenzie/vim-spirv
[submodule ".vim/pack/plugins/start/hlsl.vim"]
	path = .vim/pack/plugins/start/hlsl.vim
	url = https://github.com/beyondmarc/hlsl.vim
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/pack/plugins/start/csv.vim"]
	path = .vim/pack/plugins/start/csv.vim
	url = https://github.com/chrisbra/csv.vim
